# See http://help.github.com/ignore-files/ for more about ignoring files.

# Compiled output
/front-end/dist
/front-end/tmp
/front-end/out-tsc
/front-end/bazel-out

# Node
/front-end/node_modules
/front-endnpm-debug.log
/front-endyarn-error.log

# IDEs and editors
.idea/
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# Visual Studio Code
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*

# Miscellaneous
/front-end/.angular/cache
.sass-cache/
/front-end/connect.lock
/front-end/coverage
/front-end/libpeerconnection.log
testem.log
/front-end/typings

# System files
.DS_Store
Thumbs.db

# .NET Core
bin/
obj/

# Visual Studio files
.vs/
*.user
*.suo

# NuGet
*.nuget.props
*.paket.props
*.paket.targets
*.lock.json
packages/

# IDE files
*.vscode/

# Build results
[Dd]ebug/
[Rr]elease/
*.dll
*.pdb
*.exe

# Visual Studio Code
.vscode/

# macOS
.DS_Store

# Windows
Thumbs.db